@import 'assets/style/variables/';

/** @define projectDescription */

$description-accent-color: $brand-primary;
$description-bar-width: 4px;
$description-animation-easing: $decelerate-easing;
$description-animation-duration: $transition-medium-element-expanding-duration;

@mixin description-content-apparition($right: false) {
	$name: if( $right, description_content_apparition, description_content_apparition_right );

	animation-name: $name;

	@keyframes #{$name} {
		from {
			opacity: 0;

			@if $right {
				transform: translate( 100%, 0 );
			}

			@else {
				transform: translate( -100%, 0 );
			}
		}

		to {
			transform: translate( 0, 0 );
			opacity: 1;
		}
	}
}

.projectDescription {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 8px;
	padding: 4px 12px;
	overflow: hidden;

	.projectDescription-title {
		color: $description-accent-color;
	}

	.projectDescription-text {
		margin-bottom: 0;
		color: $gray-dark;
	}

	.projectDescription-title,
	.projectDescription-text {
		@include description-content-apparition;

		animation-delay: $description-animation-duration;
	}

	.projectDescription-bar {
		position: absolute;
		left: 0;
		width: $description-bar-width;
		animation-name: description_bar_apparition;
		background-color: $description-accent-color;
	}

	.projectDescription-bar,
	.projectDescription-title,
	.projectDescription-text {
		animation-duration: $description-animation-duration;
		animation-timing-function: $description-animation-easing;
		animation-fill-mode: both;
	}
}

.projectDescription_right {
	margin-left: auto;
	text-align: right;

	.projectDescription-bar {
		right: 0;
		left: auto;
	}

	.projectDescription-title,
	.projectDescription-text {
		@include description-content-apparition($right: true);
	}
}

.projectDescription_top {
	align-self: flex-start;
}

.projectDescription_bottom {
	align-self: flex-end;
}

.projectDescription_center {
	align-self: center;
}

@keyframes description_bar_apparition {
	from {
		height: 0;
	}

	to {
		height: 100%;
	}
}

/** @end */
