@import 'assets/style/variables/';

/** @define picturesRevealStrip */

$background-default: $gray-light;
$background-animation-easing: $decelerate-easing;
$background-animation-duration: $transition-medium-element-expanding-duration;

.picturesRevealStrip {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.picturesRevealStrip-strip {
	position: absolute;
	z-index: -1;
	width: 60%;
	height: 100%;
	animation-name: reveal-strip;
	animation-duration: $background-animation-duration;
	animation-timing-function: $background-animation-easing;
	background: linear-gradient( 0deg, $project-dreamup-brand-primary 0%, $project-dreamup-brand-secondary 100% );
	animation-fill-mode: both;
}

.picturesRevealStrip-pictures {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 100%;
	margin: $spacer * 6 0;
}

.picturesRevealStrip-picture {
	width: 80%;
	animation-name: reveal-picture;
	animation-duration: $background-animation-duration;
	animation-timing-function: $background-animation-easing;
	animation-fill-mode: both;
}

.picturesRevealStrip-picture1 {
	margin: 0 0 0 28%;
	animation-delay: $background-animation-duration;
}

.picturesRevealStrip-picture2 {
	margin: -20% 0 0 -33%;
	animation-delay: $background-animation-duration + .12s;
}

.picturesRevealStrip-picture3 {
	margin: -10% 0 0 33%;
	animation-delay: $background-animation-duration + .24s;
}

@keyframes reveal-strip {
	from {
		transform: translate( 0, -150% );
		opacity: 0;
	}

	to {
		transform: translate( 0, 0 );
		opacity: 1;
	}
}

@keyframes reveal-picture {
	from {
		transform: translate( 0, -33% );
		opacity: 0;
	}

	to {
		transform: translate( 0, 0 );
		opacity: 1;
	}
}

/** @end */
