/** @define animation */

.animation_fade {
	animation-name: fade;
	animation-duration: 3s;
	animation-timing-function: $standard-easing;
	animation-fill-mode: both;
}

.animation_loop {
	animation-iteration-count: infinite;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
