$video-rule-witdh: 32px;

/** @define background */

.background_fadeApparition {
	animation-name: reveal-background-fade;
	animation-duration: $transition-large-element-expanding-duration;
	animation-timing-function: $decelerate-easing;
	animation-fill-mode: both;

	@keyframes reveal-background-fade {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

.background_colorGrayLight {
	background-color: $gray-light;
}

.background_colorGrayLighter {
	background-color: rgba( $gray-light, .4 );
}

.background_colorGrayDarkest {
	background-color: $gray-darkest;
}

.background_video {
	position: relative;
	padding-top: $spacer * 10 !important;
	padding-bottom: $spacer * 10 !important;
	background: radial-gradient( at top center, lighten( $gray-darkest, 14% ), $gray-darkest );
	background-color: $gray-darkest;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation-duration: .16s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		opacity: .16;
		background-image: url( '../images/motion_rule_white.svg' );
		background-repeat: repeat-x;
		background-position: 0% 100%;
		background-size: $video-rule-witdh;
		animation-fill-mode: both;
	}

	&::before {
		transform: rotate( 180deg );
		animation-name: background_video_rules_top;
	}

	&::after {
		animation-name: background_video_rules_bottom;
		pointer-events: none;
	}
}

@keyframes background_video_rules_top {
	from {
		background-position: 0 100%;
	}

	to {
		background-position: $video-rule-witdh 100%;
	}
}

@keyframes background_video_rules_bottom {
	from {
		background-position: $video-rule-witdh 100%;
	}

	to {
		background-position: 0% 100%;
	}
}

.background_bluePrintDreamUp {
	position: relative;
	background:
		linear-gradient( -45deg,
		$project-dreamup-brand-primary,
		$project-dreamup-brand-secondary );
	background-color: $project-dreamup-brand-secondary;

	@media only screen and ( max-width: #{$screen-sm} ) {
		padding: 0 !important;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .25;
		background-attachment: fixed;
		background-image: url( '../images/DreamUp_Blueprint_Background.svg' );
		background-repeat: repeat;
		background-position: center;
		background-size: 42px;
	}
}

.background_bluePrintDreamUpOverlay {
	position: relative;
	z-index: 9;
	padding: $spacer * 6 !important;

	@media only screen and ( max-width: #{$screen-sm} ) {
		padding: $spacer * 2 !important;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: solid 2px rgba( $white, .1 );
		opacity: .9;
		background-color: $project-dreamup-brand-secondary;
		box-shadow: $box-shadow8;
	}
}

.background_wallDreamUp {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-top: -320px;
		transform: scale( 1.2 );
		opacity: .65;
		background-attachment: fixed;
		background-color: $white;
		background-image: url( '../images/DreamUp_Wall_Bricks.jpg' );
		background-repeat: repeat;
		background-position: top center;
		background-size: 222px;

		@media only screen and ( min-width: #{$screen-sm} ) {
			margin-top: -320px;
		}

		@media only screen and ( min-width: #{$screen-md} ) {
			margin-top: -220px;
		}

		@media only screen and ( min-width: #{$screen-lg} ) {
			margin-top: -220px;
		}
	}
}

.background_radialGradientDreamUp {
	background:
		radial-gradient( circle,
		$project-dreamup-brand-secondary 50%,
		$project-dreamup-brand-primary )
		100%;
	background-color: $project-dreamup-brand-secondary;
}

.background_colorOodibeeBrandSecondary {
	background-color: $project-oodibee-brand-secondary;
}

.background_colorPolymagineBrandPrimary {
	background-color: $project-polymagine-brand-secondary;
}

.background_colorPolymagineBrandSecondary {
	background-color: $project-polymagine-brand-secondary-light;
}

.background_polymaginePanels {
	background-attachment: fixed;
	background-color: $gray-light;
	background-image:
		url( '../images/Polymagine_Volet_Gris.svg' ),
		url( '../images/Polymagine_Volet_Bleu.svg' );
	background-repeat: no-repeat;
	background-position: 0 -22%, 100% 66%;
	background-size: 51%, 48%;
}

.background_colorOplaPurple {
	background-color: $project-opla-lava-purple;
}

.background_paralaxOplaBlue {
	background-attachment: fixed;
	background-color: $project-opla-lava-blue;
	background-image: url( '../images/Opla_Lava_Shape1.svg' ), url( '../images/Opla_Lava_Shape2.svg' );
	background-repeat: no-repeat;
	background-position: 110% 65%, -10% 20%;
	background-size: 50%, 60%;
}
