//
// General style for Portfolio project
// --------------------------------------------------

body {
	margin: 0;
	color: $gray;
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

::selection {
	background: $brand-primary;
	color: $white;
}

.app {
	padding-bottom: $app-menu-height;
}
