//
// Style to manage shadow with material design elevation system
// --------------------------------------------------

@mixin box-shadow ($dp) {
	@if $dp==0 {
		box-shadow: $box-shadow0;
	}

	@else if $dp==1 {
		box-shadow: $box-shadow1;
	}

	@else if $dp==2 {
		box-shadow: $box-shadow2;
	}

	@else if $dp==3 {
		box-shadow: $box-shadow3;
	}

	@else if $dp==4 {
		box-shadow: $box-shadow4;
	}

	@else if $dp==6 {
		box-shadow: $box-shadow6;
	}

	@else if $dp==8 {
		box-shadow: $box-shadow8;
	}

	@else if $dp==9 {
		box-shadow: $box-shadow9;
	}

	@else if $dp==12 {
		box-shadow: $box-shadow12;
	}

	@else if $dp==16 {
		box-shadow: $box-shadow16;
	}

	@else if $dp==24 {
		box-shadow: $box-shadow24;
	}
}
