@import 'assets/style/variables/';

/** @define button */

.button {
	position: relative;
	margin: 56px 8px 0;
	padding: 8px 32px;
	overflow: hidden;
	transition: all $accelerate-easing $transition-small-element-duration;
	border: 2px solid $brand-primary;
	background-color: rgba( $white, .75 );
	color: $brand-primary;
	font-size: 2.1rem;
	text-transform: uppercase;

	@media only screen and ( max-width: #{$screen-lg} ) {
		margin: 40px 8px 0;
		font-size: 1.5rem;
	}

	@media only screen and ( max-width: #{$screen-md} ) {
		margin: 30px 8px 0;
		padding: 6px 24px;
		font-size: 1.25rem;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateY( 100% );
		transition: all $accelerate-easing $transition-small-element-duration;
		background-color: $brand-primary;
	}

	&:active,
	&:focus {
		outline: none;
	}

	&:hover {
		background-color: transparent;
		color: $white;

		&::before {
			transform: translateY( 0 );
		}
	}
}

/** @end */
