@import 'assets/style/variables/';

/** @define picturesRevealStrips */

$background-default: $gray-light;
$background-animation-easing: $decelerate-easing;
$background-animation-duration: $transition-medium-element-expanding-duration;

.picturesRevealStrips {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: $spacer * 5;
	overflow: hidden;

	.picturesRevealStrips-strips {
		display: flex;
		position: absolute;
		z-index: -1;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;

		.picturesRevealStrips-strip {
			width: 100%;
			height: calc( 33% - #{$spacer / 2} );
			animation-name: reveal-strips;
			animation-duration: $background-animation-duration;
			animation-timing-function: $background-animation-easing;
			background:
				linear-gradient( 90deg,
				$project-dreamup-brand-primary 0%,
				$project-dreamup-brand-secondary 100% );
			animation-fill-mode: both;
		}
	}

	.picturesRevealStrips-stripTop {
		animation-delay: $background-animation-duration + .1s;
	}

	.picturesRevealStrips-stripMiddle {
		animation-delay: $background-animation-duration + .2s;
	}

	.picturesRevealStrips-stripBottom {
		animation-delay: $background-animation-duration + .3s;
	}

	.picturesRevealStrips-picture {
		margin-bottom: 5%;
		animation-name: reveal-strips-picture;
		animation-duration: $background-animation-duration;
		animation-timing-function: $background-animation-easing;
		animation-delay: $background-animation-duration + .3s;
		animation-fill-mode: both;
	}
}

@keyframes reveal-strips {
	from {
		transform: translate( -150%, 0 );
		opacity: 0;
	}

	to {
		transform: translate( 0, 0 );
		opacity: 1;
	}
}

@keyframes reveal-strips-picture {
	from {
		transform: translate( 0, 12% );
		opacity: 0;
	}

	to {
		transform: translate( 0, 0 );
		opacity: 1;
	}
}

/** @end */
