@import 'assets/style/variables/';

/** @define cell */

.cell {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	min-width: 0;
	max-width: 100%;
	padding: $main-gutter / 2;
}

.cell_directionColumn {
	flex-direction: column;
}

.cell_row {
	padding: $main-gutter * 3 0;
}

.cell_xs100 { width: 0; }
.cell_xs1 { width: $cell1; }
.cell_xs2 { width: $cell2; }
.cell_xs3 { width: $cell3; }
.cell_xs4 { width: $cell4; }
.cell_xs5 { width: $cell5; }
.cell_xs6 { width: $cell6; }
.cell_xs7 { width: $cell7; }
.cell_xs8 { width: $cell8; }
.cell_xs9 { width: $cell9; }
.cell_xs10 { width: $cell10; }
.cell_xs11 { width: $cell11; }
.cell_xs12 { width: $cell12; }

@media only screen and ( min-width: #{$screen-sm} ) {
	.cell_sm100 { width: 0; }
	.cell_sm1 { width: $cell1; }
	.cell_sm2 { width: $cell2; }
	.cell_sm3 { width: $cell3; }
	.cell_sm4 { width: $cell4; }
	.cell_sm5 { width: $cell5; }
	.cell_sm6 { width: $cell6; }
	.cell_sm7 { width: $cell7; }
	.cell_sm8 { width: $cell8; }
	.cell_sm9 { width: $cell9; }
	.cell_sm10 { width: $cell10; }
	.cell_sm11 { width: $cell11; }
	.cell_sm12 { width: $cell12; }
}

@media only screen and ( min-width: #{$screen-md} ) {
	.cell_md100 { width: 0; }
	.cell_md1 { width: $cell1; }
	.cell_md2 { width: $cell2; }
	.cell_md3 { width: $cell3; }
	.cell_md4 { width: $cell4; }
	.cell_md5 { width: $cell5; }
	.cell_md6 { width: $cell6; }
	.cell_md7 { width: $cell7; }
	.cell_md8 { width: $cell8; }
	.cell_md9 { width: $cell9; }
	.cell_md10 { width: $cell10; }
	.cell_md11 { width: $cell11; }
	.cell_md12 { width: $cell12; }
}

@media only screen and ( min-width: #{$screen-lg} ) {
	.cell_lg100 { width: 0; }
	.cell_lg1 { width: $cell1; }
	.cell_lg2 { width: $cell2; }
	.cell_lg3 { width: $cell3; }
	.cell_lg4 { width: $cell4; }
	.cell_lg5 { width: $cell5; }
	.cell_lg6 { width: $cell6; }
	.cell_lg7 { width: $cell7; }
	.cell_lg8 { width: $cell8; }
	.cell_lg9 { width: $cell9; }
	.cell_lg10 { width: $cell10; }
	.cell_lg11 { width: $cell11; }
	.cell_lg12 { width: $cell12; }
}

@media only screen and ( min-width: #{$screen-xl} ) {
	.cell_xl100 { width: 0; }
	.cell_xl1 { width: $cell1; }
	.cell_xl2 { width: $cell2; }
	.cell_xl3 { width: $cell3; }
	.cell_xl4 { width: $cell4; }
	.cell_xl5 { width: $cell5; }
	.cell_xl6 { width: $cell6; }
	.cell_xl7 { width: $cell7; }
	.cell_xl8 { width: $cell8; }
	.cell_xl9 { width: $cell9; }
	.cell_xl10 { width: $cell10; }
	.cell_xl11 { width: $cell11; }
	.cell_xl12 { width: $cell12; }
}

/** @end */
