@import 'assets/style/variables/';

/** @define pictureEnvelope */

.pictureEnvelope {
	position: relative;

	&:hover {
		.pictureEnvelope_envelope {
			margin: -5% 0 0 -9%;
			box-shadow: $box-shadow4;
		}

		&.pictureEnvelope_right:hover {
			.pictureEnvelope_envelope {
				margin: -5% 0 0 9%;
			}
		}

		.pictureEnvelope_picture {
			margin-top: -1%;
			box-shadow: $box-shadow6;
		}
	}
}

.pictureEnvelope_envelope {
	position: absolute;
	margin: -2% 0 0;
	box-shadow: $box-shadow2;
}

.pictureEnvelope_picture {
	box-shadow: $box-shadow4;
}

.pictureEnvelope_picture,
.pictureEnvelope_envelope {
	transition: all $accelerate-easing $transition-medium-element-expanding-duration;
}

@media only screen and ( max-width: #{$screen-lg} ) {
	.pictureEnvelope_envelope {
		display: none;
	}

	.pictureEnvelope:hover {
		.pictureEnvelope_picture {
			margin-top: 0;
		}
	}
}

/** @end */
