@import 'assets/style/variables/';

$app-menu-background: $brand-secondary;
$app-menu-color: $white;

/** @define appMenu */

.appMenu-wrapper {
	display: flex;
	position: fixed;
	z-index: 900;
	bottom: 0;
	flex-wrap: wrap;
	min-height: $app-menu-height;
	border-top: solid .25px rgba( $white, .04 );
	background-color: $app-menu-background;
}

.appMenu-content {
	z-index: 2;
	width: 100%;
	background-color: $app-menu-background;
}

.appMenu {
	display: flex;
	z-index: 9;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background-color: $app-menu-background;
}

.appMenu-menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 120px;
	min-width: 80px;
	max-width: 186px;
	height: $app-menu-height;
	margin: 0;
	padding: 10px 12px;
	opacity: .5;
	cursor: pointer;

	&:hover,
	&.isActive {
		opacity: 1;
		text-decoration: none;
	}

	&.isActive {
		.appMenu-menuItemLabel {
			font-weight: 400;
		}
	}

	@media only screen and ( min-width: #{$screen-md} ) {
		flex-direction: row;
		justify-content: space-evenly;
	}

	@media only screen and ( max-width: #{$screen-xxs} ) {
		width: auto;
	}
}

.appMenu-menuItemIcon {
	width: 24px;
	height: 24px;
	background: $app-menu-color;
}

.appMenu-menuItemIcon_home {
	mask: url( '../../assets/images/Menu_Home.svg' ) center no-repeat;
}

.appMenu-menuItemIcon_about {
	mask: url( '../../assets/images/Menu_About.svg' ) center no-repeat;
}

.appMenu-menuItemIcon_projects {
	mask: url( '../../assets/images/Menu_Projects.svg' ) center no-repeat;
}

.appMenu-menuItemLabel {
	margin: 0;
	color: $app-menu-color;
}

.appMenu-expandButton {
	outline: none;

	&:active,
	&:focus {
		outline: none;
	}
}

.appMenu-subMenu_animatedEnterActive {
	animation: reveal-app-sub-menu $transition-medium-element-expanding-duration $decelerate-easing;

	.appMenu-subMenuListItem {
		animation: reveal-app-sub-menu $transition-medium-element-expanding-duration $decelerate-easing;
		animation-delay: .2s;
	}
}

.appMenu-subMenu_animatedExitActive {
	animation: unreveal-app-sub-menu $transition-medium-element-expanding-duration - .1s $accelerate-easing;
	animation-delay: .14s;

	.appMenu-subMenuListItem {
		animation: unreveal-app-sub-menu $transition-medium-element-expanding-duration $accelerate-easing;
	}
}

.appMenu-subMenu_animatedExitDone {
	transform: translateY( 100% );
}

@keyframes reveal-app-sub-menu {
	from {
		transform: translateY( 100% );
	}

	to {
		transform: translateY( 0 );
	}
}

@keyframes unreveal-app-sub-menu {
	from {
		transform: translateY( 0 );
	}

	to {
		transform: translateY( 100% );
	}
}

.appMenu-subMenuWrapper {
	position: absolute;
	z-index: -1;
	bottom: $app-menu-height;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: $app-menu-background;
	border-bottom: solid .25px rgba( $white, .04 );
	animation-fill-mode: both;

	.appMenu-subMenu {
		display: flex;
		align-items: center;
		justify-content: space-evenly !important;
		width: 100%;
	}

	.appMenu-subMenuListItem {
		width: auto;
		list-style-type: none;
		animation-fill-mode: both;

		@media only screen and ( max-width: #{$screen-md} ) {
			width: 100%;
			margin: 2px 0;
			border-bottom: solid 1px rgba( $white, .06 );
			text-align: center;

			&:last-child {
				border-bottom: 0;
			}
		}

		a {
			display: block;
			padding: $spacer * 2 $spacer * 3;
			opacity: .5;
			color: $app-menu-color;
			font-weight: 200;

			&:hover,
			&.isActive {
				opacity: 1;
				text-decoration: none;
			}

			&.isActive {
				font-weight: 400;
			}
		}
	}
}

/** @end */
