@import 'assets/style/variables/';

/** @define container */

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: $content-max-width;
	margin: 0 auto;
	padding: 0 $main-gutter;

	@media only screen and ( max-width: #{$screen-sm} ) {
		padding: 0 $main-gutter / 2;
	}
}

.container_fluid {
	max-width: none;
}

/** @end */
