@import 'assets/style/variables/';

/** @define frameBorder */

$frame-line-offset: $main-gutter;
$frame-line-max-size: calc( 100% + (#{$frame-line-offset} * 2) );
$frame-line-weight: 2px;
$frame-line-color: $gray;
$frame-line-animation-easing: $decelerate-easing;
$frame-line-animation-duration: $transition-large-element-expanding-duration * 2;

.frameBorder {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: calc( 100% - (#{$frame-line-offset} * 2) );
	height: 100%;
	margin: $frame-line-offset auto;
	pointer-events: none;
}

.frameBorder-lineWrapper {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.frameBorder-line {
	width: 100%;
	height: 100%;
	background-color: $frame-line-color;
}

.frameBorder_top {
	top: 0;
}

.frameBorder_right {
	right: 0;
}

.frameBorder_bottom {
	bottom: 0;
}

.frameBorder_left {
	left: 0;
}

.frameBorder_horizontal {
	width: $frame-line-max-size;
	height: $frame-line-weight;
	margin-right: -$frame-line-offset;
	margin-left: -$frame-line-offset;
}

.frameBorder_vertical {
	top: -$frame-line-offset;
	bottom: -$frame-line-offset;
	width: $frame-line-weight;
	height: $frame-line-max-size;
}

.frameBorder-content {
	width: 100%;
	padding: 16px;
}

// Animation gestion
@mixin line-apparition($vertical: false) {
	$name: if( $vertical, line_appear_vertical, line_appear_horizontal );
	$size: if( $vertical, height, width );

	animation-name: $name;

	@keyframes #{$name} {
		from {
			#{$size}: 0;
		}

		to {
			#{$size}: $frame-line-max-size;
		}
	}
}

.frameBorder_animated {
	.frameBorder-line {
		animation-duration: $frame-line-animation-duration;
		animation-timing-function: $frame-line-animation-easing;
		animation-fill-mode: both;
	}

	.frameBorder_horizontal {
		.frameBorder-line {
			@include line-apparition;
		}
	}

	.frameBorder_vertical {
		.frameBorder-line {
			@include line-apparition($vertical: true);
		}
	}
}

/** @end */
