@import 'assets/style/variables/';

/** @define scrollTopArrow */

.scrollTopArrow {
	position: fixed;
	right: $spacer * 4;
	bottom: $spacer * 8;
	width: 40px;
	height: 40px;
	transform: translateY( 140% );
	transition: all $decelerate-easing $transition-small-element-duration;
	border-radius: 50%;
	background-color: $brand-secondary;
	cursor: pointer;

	@media only screen and ( max-width: #{$screen-xxs} ) {
		right: $spacer * 2;
		bottom: $spacer * 8.15;
		width: 36px;
		height: 36px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .5;
		background: $white;
		mask: url( '../../assets/images/Arrow_Up.svg' ) center no-repeat;
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}

	&.isActive {
		transform: translateY( 0 );
	}
}

/** @end */
