@import 'assets/style/variables/';

/** @define projectBigHeader */

$big-header-color: $brand-primary;
$big-header-background-color: $white;
$big-header-bar-width: 64px;
$big-header-animation-easing: $decelerate-easing;
$big-header-animation-duration: $transition-medium-element-expanding-duration;
//
$navigation-project-item-color: $brand-primary;

.projectBigHeader {
	position: relative;
	min-height: calc( 100vh - #{$app-menu-height} );
	padding-top: $big-header-bar-width;
	padding-right: $main-gutter * 4;
	padding-bottom: $big-header-bar-width;
	padding-left: calc( #{$big-header-bar-width * 2} + #{$main-gutter} );
	background-color: $big-header-background-color;

	@media only screen and ( max-width: #{$screen-md} ) {
		padding-top: $big-header-bar-width / 1.3;
		padding-left: calc( #{$big-header-bar-width / 1.3} + #{$main-gutter} );
	}

	@media only screen and ( max-width: #{$screen-sm} ) {
		padding-right: $main-gutter / 1.3;
		padding-left: $main-gutter;
	}
}

.projectBigHeader-frameBorder {
	position: absolute;
	top: $main-gutter * 2;
	right: $main-gutter * 2;
	bottom: $main-gutter;
	left: $main-gutter * 2;
	width: auto;
	height: auto;

	@media only screen and ( max-width: #{$screen-sm} ) {
		right: $main-gutter;
		left: $main-gutter;
	}
}

.projectBigHeader-bar {
	display: flex;
	position: absolute;
	top: 0;
	left: $big-header-bar-width;
	justify-content: center;
	width: $big-header-bar-width;
	animation-name: bar_apparition;
	animation-duration: $big-header-animation-duration;
	animation-timing-function: $big-header-animation-easing;
	outline: solid $main-gutter $big-header-background-color;
	background-color: $big-header-color;
	animation-fill-mode: both;

	@media only screen and ( max-width: #{$screen-md} ) {
		left: $spacer;
	}

	@media only screen and ( max-width: #{$screen-sm} ) {
		left: 0;
		width: $big-header-bar-width / 3;
	}
}

.projectBigHeader-scrollMouse {
	position: absolute;
	top: 50vh;
	width: 32px;
	height: 32px;
	animation-name: scroll-arrow-apparition;
	animation-duration: $big-header-animation-duration * 6;
	animation-timing-function: $big-header-animation-easing;
	animation-delay: $big-header-animation-duration / 2;
	animation-fill-mode: backwards;

	@media only screen and ( max-width: #{$screen-sm} ) {
		display: none;
	}
}

.projectBigHeader-scrollMouseIcon {
	position: relative;
	bottom: $spacer * 4;
	width: 100%;
	height: 100%;
	animation-name: scroll-body-apparition;
	animation-duration: $big-header-animation-duration * 6;
	animation-timing-function: $big-header-animation-easing;
	animation-iteration-count: infinite;
	background: $white;
	animation-fill-mode: both;
}

.projectBigHeader-scrollMouseIcon_Body {
	animation-name: scroll-mouse-apparition;
	mask: url( '../../assets/images/ScrollMouse_Body.svg' ) center no-repeat;
}

.projectBigHeader-scrollMouseIcon_Arrow {
	animation-name: scroll-arrow-apparition;
	mask: url( '../../assets/images/ScrollMouse_Arrow.svg' ) center no-repeat;
}

.projectBigHeader-text {
	padding-top: $main-gutter * 6;
	padding-right: $main-gutter * 2;
	animation-name: text_apparition;
	animation-duration: $big-header-animation-duration * 2;
	animation-timing-function: $big-header-animation-easing;
	animation-delay: $big-header-animation-duration;
	animation-fill-mode: both;

	@media only screen and ( min-width: #{$screen-lg} ) {
		padding-top: 0;
	}

	@media only screen and ( min-width: #{$screen-md} ) {
		max-width: 500px;
	}

	@media only screen and ( max-width: #{$screen-md} ) {
		padding-top: $main-gutter;
		padding-right: 0;
	}
}

.projectBigHeader-title {
	position: relative;
	margin-top: $spacer * 16;
	margin-bottom: $spacer * 4;
	color: $big-header-color;

	@media only screen and ( max-width: #{$screen-md} ) {
		margin-top: $spacer * 10;
	}

	@media only screen and ( max-width: #{$screen-xxs} ) {
		margin-top: $spacer * 2;
	}

	&::before {
		content: 'Projet';
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: -2%;
		opacity: .5;
		color: #eee;
		font-size: 280%;
		line-height: 109%;

		@media only screen and ( min-width: #{$screen-md} ) {
			font-size: 380%;
		}

		@media only screen and ( max-width: #{$screen-xxs} ) {
			display: none;
		}
	}
}

.projectBigHeader-picture {
	align-self: stretch;

	.animatedBackgroundPicture-picture {
		box-shadow: $box-shadow4;
	}
}

.projectBigHeader-picture_noShadow {
	.animatedBackgroundPicture-picture {
		box-shadow: $box-shadow0;
	}
}

@keyframes bar_apparition {
	from {
		height: 0;
	}

	to {
		height: calc( 100% - (#{$big-header-bar-width} + #{$main-gutter}) );
	}
}

@keyframes scroll-mouse-apparition {
	from {
		transform: scale( 1 );
	}

	30% {
		transform: scale( 1.12 );
	}

	70% {
		transform: scale( 1.12 );
	}

	to {
		transform: scale( 1 );
	}
}

@keyframes scroll-arrow-apparition {
	from {
		transform: translate( 0, -20px );
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	to {
		transform: translate( 0, 20px );
		opacity: 0;
	}
}

@keyframes text_apparition {
	from {
		transform: translate( 0, -8% );
		opacity: 0;
	}

	to {
		transform: translate( 0, 0 );
		opacity: 1;
	}
}

/** @end */
