@import 'assets/style/variables/';

/** @define picture */

$picture-animation-easing: $decelerate-easing;
$picture-animation-duration: $transition-medium-element-expanding-duration * 2;

.picture {
	object-fit: contain;
}

.picture_animatedEnterActive,
.picture_animatedEnterDone {
	animation-name: picture_expanding;
	animation-duration: $picture-animation-duration;
	animation-timing-function: $picture-animation-easing;
	animation-fill-mode: both;
}

@keyframes picture_expanding {
	from {
		transform: translate( 0, 60px );
		opacity: 0;
	}

	to {
		transform: translate( 0, 0 );
		opacity: 1;
	}
}

/** @end */
