@import 'assets/style/variables/';

$project-navigation-easing: $decelerate-easing;
$project-navigation-duration: $transition-medium-element-expanding-duration;
$project-navigation-item-color: $brand-primary;

/** @define projectsNavigation */

.projectsNavigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: $spacer * 2 $spacer;
	animation-name: text_apparition;
	animation-duration: $project-navigation-duration * 2;
	animation-timing-function: $project-navigation-easing;
	animation-delay: $project-navigation-duration;
	border-bottom: solid 1px rgba( $gray-light, .5 );
	animation-fill-mode: both;

	@media only screen and ( min-width: #{$screen-lg} ) {
		width: auto;
	}

	@media only screen and ( min-width: #{$screen-md} ) {
		justify-content: flex-start;
	}

	@media only screen and ( max-width: #{$screen-xxs} ) {
		padding: $spacer 0;
	}
}

.projectsNavigation_bottom {
	justify-content: center;
	border-top: solid 1px $gray-light;
}

.projectsNavigation-navigationItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all $project-navigation-easing $project-navigation-duration;
	opacity: .5;

	&:hover {
		opacity: 1;

		.projectsNavigation-navigationItemLabel {
			text-decoration: none;
		}
	}
}

.projectsNavigation-navigationItemIcon {
	width: 24px;
	height: 24px;
	background: $project-navigation-item-color;
}

.projectsNavigation-navigationItem_prev {
	margin-right: $spacer * 4;

	.projectsNavigation-navigationItemIcon {
		mask: url( '../../assets/images/Nav_ProjectPrev.svg' ) center no-repeat;
	}
}

.projectsNavigation-navigationItem_next {
	margin-left: $spacer * 4;

	.projectsNavigation-navigationItemIcon {
		mask: url( '../../assets/images/Nav_ProjectNext.svg' ) center no-repeat;
	}
}

.projectsNavigation-navigationItemLabel {
	display: none;
	color: $project-navigation-item-color;
}

.projectsNavigation-navigationStatus {
	margin: 0;
}

.projectsNavigation-navigationStatus_bigger {
	font-size: 200%;
}

/** @end */
