@import 'assets/style/variables/';

/** @define spinner */

.spinner {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 500px;
	height: 100%;
	min-height: 100px;
	margin: $spacer * 8 auto;
	padding: $spacer * 2 $spacer;
	overflow: hidden;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: calc( 100% + 300px );
		height: 100%;
		animation-name: spinner-translate;
		animation-duration: 3s;
		animation-timing-function: $standard-easing;
		animation-iteration-count: infinite;
		opacity: .7;
		background-image: url( '../../assets/images/Spinner_MotionRule.svg' );
		background-repeat: repeat-x;
		background-position: center calc( 50% + 40px );
		background-size: 80px;
		animation-fill-mode: both;
	}

	.spinner-label {
		padding: $spacer;
		animation-name: spinner-label;
		animation-duration: 5s;
		animation-timing-function: $decelerate-easing;
		animation-iteration-count: infinite;
		animation-fill-mode: both;
	}
}

.spinner_fullScreen {
	position: fixed;
	top: 0;
	left: 0;
	max-width: none;
	height: 100vh;
}

@keyframes spinner-translate {
	from {
		transform: translateX( 0 );
	}

	50% {
		transform: translateX( -300px );
	}

	to {
		transform: translateX( 0 );
	}
}

@keyframes spinner-label {
	from {
		transform: scale( 1 );
		opacity: 0;
	}

	20% {
		transform: scale( 1 );
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	100% {
		transform: scale( 2 );
		opacity: 0;
	}
}

/** @end */
