@import 'assets/style/variables/';

/** @define typography */

.typography_variantH1 {
	font-size: $font-size-h1;
	font-weight: $font-weight-h1;
	line-height: $line-height-h1;
	text-transform: $text-tranform-h1;
}

.typography_variantH2 {
	font-size: $font-size-h2;
	font-weight: $font-weight-h2;
	line-height: $line-height-h2;
	text-transform: $text-tranform-h2;
}

.typography_variantH3 {
	font-size: $font-size-h3;
	font-weight: $font-weight-h3;
	line-height: $line-height-h3;
	text-transform: $text-tranform-h3;
}

.typography_variantH4 {
	font-size: $font-size-h4;
	font-weight: $font-weight-h4;
	line-height: $line-height-h4;
	text-transform: $text-tranform-h4;
}

.typography_variantH5 {
	font-size: $font-size-h5;
	font-weight: $font-weight-h5;
	line-height: $line-height-h5;
	text-transform: $text-tranform-h5;
}

.typography_variantH6 {
	font-size: $font-size-h6;
	font-weight: $font-weight-h6;
	line-height: $line-height-h6;
	text-transform: $text-tranform-h6;
}

.typography_variantSubtitle1 {
	font-size: $font-size-subtitle1;
	font-weight: $font-weight-subtitle1;
	line-height: $line-height-subtitle1;
	text-transform: $text-tranform-subtitle1;
}

.typography_variantSubtitle2 {
	font-size: $font-size-subtitle2;
	font-weight: $font-weight-subtitle2;
	line-height: $line-height-subtitle2;
	text-transform: $text-tranform-subtitle2;
}

.typography_variantBody1 {
	font-size: $font-size-body1;
	font-weight: $font-weight-body1;
	line-height: $line-height-body1;
	text-transform: $text-tranform-body1;
}

.typography_variantBody2 {
	font-size: $font-size-body2;
	font-weight: $font-weight-body2;
	line-height: $line-height-body2;
	text-transform: $text-tranform-body2;
}

.typography_variantBody3 {
	font-size: $font-size-body3;
	font-weight: $font-weight-body3;
	line-height: $line-height-body3;
	text-transform: $text-tranform-body3;
}

.typography_variantCaption1 {
	font-size: $font-size-caption1;
	font-weight: $font-weight-caption1;
	line-height: $line-height-caption1;
	text-transform: $text-tranform-caption1;
}

.typography_variantCaption2 {
	font-size: $font-size-caption2;
	font-weight: $font-weight-caption2;
	line-height: $line-height-caption2;
	text-transform: $text-tranform-caption2;
}

.typography_variantCaption3 {
	font-size: $font-size-caption3;
	font-weight: $font-weight-caption3;
	line-height: $line-height-caption3;
	text-transform: $text-tranform-caption3;
}

.typography_variantCaption4 {
	font-size: $font-size-caption4;
	font-weight: $font-weight-caption4;
	line-height: $line-height-caption4;
	text-transform: $text-tranform-caption4;
}

.typography_variantOverline {
	font-size: $font-size-overline;
	font-weight: $font-weight-overline;
	line-height: $line-height-overline;
	text-transform: $text-tranform-overline;
}

// Colors variation

.typography_colorPrimary {
	color: $brand-primary;
}

.typography_colorSecondary {
	color: $brand-secondary;
}

/** @end */
