@import 'assets/style/variables/';

/** @define animatedBackgroundPictureOffset */

$background-default: $gray-light;
$background-animation-easing: $decelerate-easing;
$background-animation-duration: $transition-medium-element-expanding-duration;

.animatedBackgroundPictureOffset {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: visible;
}

.animatedBackgroundPictureOffset-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation-name: background_expanding;
		animation-duration: $background-animation-duration;
		animation-timing-function: $background-animation-easing;
		background-color: $background-default;
		animation-fill-mode: both;
	}
}

.animatedBackgroundPictureOffset-pictureWrapper {
	z-index: 2;
	max-width: 70%;
	margin: $spacer 0;
}

@media only screen and ( min-width: #{$screen-sm} ) {
	.animatedBackgroundPictureOffset-pictureWrapper {
		margin: 0;
	}

	.animatedBackgroundPictureOffset_first {
		.animatedBackgroundPictureOffset-pictureWrapper {
			transform: translate( 15%, 13% ) scale( 1.25 );
		}
	}

	.animatedBackgroundPictureOffset_second {
		.animatedBackgroundPictureOffset-pictureWrapper {
			transform: translate( 0, -14% ) scale( 1.25 );
		}
	}

	.animatedBackgroundPictureOffset_third {
		.animatedBackgroundPictureOffset-pictureWrapper {
			transform: translate( -18%, 12% ) scale( 1.25 );
		}
	}

	.animatedBackgroundPictureOffset_fourth {
		.animatedBackgroundPictureOffset-pictureWrapper {
			transform: translate( -18%, 12% ) scale( 1.15 );
		}
	}
}

.animatedBackgroundPictureOffset-picture {
	animation-delay: $background-animation-duration * 1.5;
}

@keyframes background_expanding {
	from {
		transform: translate( 0, 150% );
	}

	to {
		transform: translate( 0, 0 );
	}
}

/** @end */
