@import 'assets/style/variables/';

/** @define animatedBackgoundPictureOffsetBob */

$background-default: $gray-light;
$background-animation-easing: $decelerate-easing;
$background-animation-duration: $transition-medium-element-expanding-duration;

.animatedBackgoundPictureOffsetBob {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: visible;
}

.animatedBackgoundPictureOffsetBob-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation-name: background_expanding;
		animation-duration: $background-animation-duration;
		animation-timing-function: $background-animation-easing;
		animation-fill-mode: both;
	}
}

.animatedBackgoundPictureOffsetBob-pictureWrapper {
	z-index: 2;
	max-width: 70%;
	margin: 0;
}

.animatedBackgoundPictureOffsetBob_duo {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( -5%, 0 ) scale( 1.75 );
	}
}

.animatedBackgoundPictureOffsetBob_scared {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( 1.7%, -8% ) scale( 1.4 );
	}
}

.animatedBackgoundPictureOffsetBob_levier {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( 0, -10% ) scale( 1.5 );
	}
}

.animatedBackgoundPictureOffsetBob_autel {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( -13.3%, -36% ) scale( 1.7 );

		@media only screen and ( max-width: #{$screen-md} ) {
			transform: translate( 8%, 0 ) scale( 1.25 );
		}
	}
}

.animatedBackgoundPictureOffsetBob_glassesBloc {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( 30%, 12% ) scale( 1.25 );
	}
}

.animatedBackgoundPictureOffsetBob_cylinderLava {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( 23%, 0 ) scale( 1.25 );
	}
}

.animatedBackgoundPictureOffsetBob_flowchart {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( -11.1%, 1% ) scale( 1.65 );
	}
}

.animatedBackgoundPictureOffsetBob_computer {
	.animatedBackgoundPictureOffsetBob-pictureWrapper {
		transform: translate( 0, 0 ) scale( 1.5 );
	}
}

.animatedBackgoundPictureOffsetBob-picture {
	animation-delay: $background-animation-duration * 1.5;
}

.animatedBackgoundPictureOffsetBob_color {
	&Orange {
		.animatedBackgoundPictureOffsetBob-background::before {
			background-color: $project-opla-lava-orange;
			background-image:
				linear-gradient( -45deg,
				darken( $project-opla-lava-orange, 14% ),
				scale-color( $project-opla-lava-orange, $saturation: 80, $lightness: 29 ) );
		}
	}

	&Red {
		.animatedBackgoundPictureOffsetBob-background::before {
			background-color: $project-opla-lava-red;
			background-image:
				linear-gradient( -45deg,
				darken( $project-opla-lava-red, 14% ),
				scale-color( $project-opla-lava-red, $saturation: 80, $lightness: 32 ) );
		}
	}

	&Purple {
		.animatedBackgoundPictureOffsetBob-background::before {
			background-color: $project-opla-lava-purple;
			background-image:
				linear-gradient( -45deg,
				$project-opla-lava-purple,
				scale-color( $project-opla-lava-purple, $saturation: 40, $lightness: 20 ) );
		}
	}

	&Blue {
		.animatedBackgoundPictureOffsetBob-background::before {
			background-color: $project-opla-lava-blue;
			background-image:
				linear-gradient( -45deg,
				$project-opla-lava-blue,
				scale-color( $project-opla-lava-blue, $saturation: 35, $lightness: 20 ) );
		}
	}
}

@keyframes background_expanding {
	from {
		transform: translate( 0, 150% );
	}

	to {
		transform: translate( 0, 0 );
	}
}

/** @end */
