@import 'assets/style/variables/';

/** @define animatedBackgroundPicture */

$background-default: $gray-light;
$background-animation-easing: $decelerate-easing;
$background-animation-duration: $transition-medium-element-expanding-duration;

.animatedBackgroundPicture {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 48px;
	overflow: hidden;

	@media only screen and ( max-width: #{$screen-xxs} ) {
		padding: $spacer * 2;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation-name: background_expanding;
		animation-duration: $background-animation-duration;
		animation-timing-function: $background-animation-easing;
		animation-fill-mode: both;
	}
}

.animatedBackgroundPicture_smallPadding {
	padding: $spacer * 3;
}

.animatedBackgroundPicture_color {
	&Default {
		&::before {
			background-color: $background-default;
		}
	}

	&Oodibee {
		&::before {
			background-color: $project-oodibee-brand-primary;
		}
	}

	&Dreamup {
		&::before {
			background-color: $project-dreamup-brand-secondary;
		}
	}
}

.animatedBackgroundPicture-picture {
	animation-delay: $background-animation-duration * 1.5;
}

@keyframes background_expanding {
	from {
		transform: translate( 0, 150% );
	}

	to {
		transform: translate( 0, 0 );
	}
}

/** @end */
