//
// Base colours
// --------------------------------------------------

$brand-primary: #f1bf42;
$brand-secondary: #2b2e44;

$gray-light: #eee;
$gray: #d8d8d8;
$gray-dark: #bdbdbd;
$gray-darkest: #232526;

$white: white;
$black: black;

// Projects colours
$project-oodibee-brand-primary: #94834f;
$project-oodibee-brand-secondary: #232526;
$project-dreamup-brand-primary: #153e6c;
$project-dreamup-brand-secondary: #0a5f8a;
$project-polymagine-brand-primary: #55565a;
$project-polymagine-brand-secondary: #003d70;
$project-polymagine-brand-secondary-light: #2869a1;
$project-opla-lava-orange: #f26d36;
$project-opla-lava-red: #e23f3f;
$project-opla-lava-purple: #521b53;
$project-opla-lava-blue: #292c45;
$project-vialle-brand-primary: #004780;
$project-vialle-brand-secondary: #3d3d3c;
