//
// Layout and Media screen breakpoints
// --------------------------------------------------

$spacer: rem-calc( 8 );
$main-gutter: $spacer * 2;
$content-max-width: rem-calc( 1440 );

$app-menu-height: 56px;

// Cells
$cell1: 100% / 12 * 1;
$cell2: 100% / 12 * 2;
$cell3: 100% / 12 * 3;
$cell4: 100% / 12 * 4;
$cell5: 100% / 12 * 5;
$cell6: 100% / 12 * 6;
$cell7: 100% / 12 * 7;
$cell8: 100% / 12 * 8;
$cell9: 100% / 12 * 9;
$cell10: 100% / 12 * 10;
$cell11: 100% / 12 * 11;
$cell12: 100%;

// Media Queries Breakpoints
$screen-xxs: 420px;
$screen-sm: 550px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
