//
// Typography
// --------------------------------------------------

$font-family-base: 'Oswald', helvetica, arial, sans-serif;

// Font weights definition
//
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Texts base style definition
//

// Bodys
$font-size-body1: rem-calc( 16 );
$line-height-body1: rem-calc( 20 );
$font-weight-body1: $font-weight-light;
$text-tranform-body1: none;

$font-size-body2: rem-calc( 14 );
$line-height-body2: rem-calc( 17 );
$font-weight-body2: $font-weight-light;
$text-tranform-body2: none;

$font-size-body3: rem-calc( 12 );
$line-height-body3: rem-calc( 18 );
$font-weight-body3: $font-weight-light;
$text-tranform-body3: none;

// Links
$link-decoration: none;
$link-hover-decoration: none;

// Headings
$font-size-h1: rem-calc( 96 );
$line-height-h1: rem-calc( 115 );
$font-weight-h1: $font-weight-light;
$text-tranform-h1: uppercase;

$font-size-h2: rem-calc( 60 );
$line-height-h2: rem-calc( 72 );
$font-weight-h2: $font-weight-light;
$text-tranform-h2: uppercase;

$font-size-h3: rem-calc( 48 );
$line-height-h3: rem-calc( 57 );
$font-weight-h3: $font-weight-regular;
$text-tranform-h3: uppercase;

$font-size-h4: rem-calc( 34 );
$line-height-h4: rem-calc( 41 );
$font-weight-h4: $font-weight-semi-bold;
$text-tranform-h4: uppercase;

$font-size-h5: rem-calc( 24 );
$line-height-h5: rem-calc( 29 );
$font-weight-h5: $font-weight-semi-bold;
$text-tranform-h5: uppercase;

$font-size-h6: rem-calc( 20 );
$line-height-h6: rem-calc( 24 );
$font-weight-h6: $font-weight-medium;
$text-tranform-h6: uppercase;

// Subtitles
$font-size-subtitle1: rem-calc( 16 );
$line-height-subtitle1: rem-calc( 19 );
$font-weight-subtitle1: $font-weight-regular;
$text-tranform-subtitle1: none;

$font-size-subtitle2: rem-calc( 20 );
$line-height-subtitle2: rem-calc( 24 );
$font-weight-subtitle2: $font-weight-regular;
$text-tranform-subtitle2: none;

// Captions
$font-size-caption1: rem-calc( 14 );
$line-height-caption1: rem-calc( 21 );
$font-weight-caption1: $font-weight-light;
$text-tranform-caption1: none;

$font-size-caption2: rem-calc( 12 );
$line-height-caption2: rem-calc( 18 );
$font-weight-caption2: $font-weight-extra-light;
$text-tranform-caption2: none;

$font-size-caption3: rem-calc( 8 );
$line-height-caption3: rem-calc( 10 );
$font-weight-caption3: $font-weight-extra-light;
$text-tranform-caption3: none;

$font-size-caption4: rem-calc( 11 );
$line-height-caption4: rem-calc( 16 );
$font-weight-caption4: $font-weight-light;
$text-tranform-caption4: none;

// Overlines
$font-size-overline: rem-calc( 10 );
$line-height-overline: rem-calc( 12 );
$font-weight-overline: $font-weight-regular;
$text-tranform-overline: uppercase;

// Buttons
$font-size-button: rem-calc( 14 );
$line-height-button: rem-calc( 21 );
$font-weight-button: $font-weight-medium;
$text-tranform-button: uppercase;
