@import 'assets/style/variables/';

/** @define aboutSection */

.aboutSection {
	display: flex;
	z-index: 2;
	margin-bottom: - $spacer * 2;
	padding-top: $spacer * 2;
	animation-name: reveal-about-section;
	animation-duration: $transition-large-element-expanding-duration * 2;
	animation-timing-function: $decelerate-easing;
	animation-delay: $transition-large-element-expanding-duration;
	animation-fill-mode: both;
}

.aboutSection-dateWrapper {
	height: 100%;
	padding-right: $spacer * 2;
	transform: translateY( - $spacer );
}

.aboutSection-date {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
}

.aboutSection-dateYear {
	margin-left: 2px;
	font-weight: $font-weight-medium;
}

.aboutSection-dateBegin {
	margin-bottom: 2px;
}

.aboutSection-text,
.aboutSection-content p,
.aboutSection-separator {
	position: relative;
	padding-left: $spacer * 12;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY( -50% );
		transition: all $decelerate-easing $transition-medium-element-expanding-duration;
		border-radius: 2px;
	}

	@media only screen and ( max-width: #{$screen-sm} ) {
		padding-left: $spacer * 3;
	}
}

.aboutSection-title {
	&::before {
		width: $spacer * 8;
		height: 3px;
		background-color: $brand-secondary;

		@media only screen and ( max-width: #{$screen-sm} ) {
			width: $spacer;
		}
	}
}

.aboutSection-subtitle {
	margin-bottom: $spacer * 2;

	&::before {
		width: $spacer * 6;
		height: 2px;
		background-color: $brand-primary;

		@media only screen and ( max-width: #{$screen-sm} ) {
			width: $spacer;
		}
	}
}

.aboutSection-content p {
	margin-bottom: $spacer;
	opacity: .5;

	&::before {
		width: $spacer * 4;
		height: 1px;
		opacity: .5;
		background-color: $brand-secondary;

		@media only screen and ( max-width: #{$screen-sm} ) {
			width: $spacer;
		}
	}
}

.aboutSection-separator {
	padding: $spacer * 3 0;

	&::before {
		width: $spacer * 16;
		height: 1px;
		background-color: $gray-light;
	}

	&:hover {
		&::before {
			width: $spacer * 24;
		}
	}
}

.aboutSection-title,
.aboutSection-subtitle,
.aboutSection-content p {
	&:hover {
		cursor: default;

		&::before {
			width: $spacer * 10;

			@media only screen and ( max-width: #{$screen-sm} ) {
				width: $spacer;
			}
		}
	}
}

@keyframes reveal-about-section {
	from {
		transform: translateY( 15% );
		opacity: 0;
	}

	50% {
		opacity: .33;
	}

	to {
		transform: translateY( 0 );
		opacity: 1;
	}
}

/** @end */
