@import 'assets/style/variables/';

/** @define aboutInformation */

.aboutInformation {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	opacity: .5;
}

.aboutInformation-icon {
	max-width: 24px;
	margin-right: $spacer;
}

.aboutInformation-text {
	margin: 0;

	@media only screen and ( min-width: 1088px ) {
		font-size: 108% !important;
	}
}

.aboutInformation-text_link,
.aboutInformation-text_link:hover {
	color: $brand-secondary;
	font-weight: $font-weight-light;
}

/** @end */
