@import '../variables/';

.about {
	animation-name: reveal-about-fade;
	animation-duration: $transition-large-element-expanding-duration * 3;
	animation-timing-function: $decelerate-easing;
	animation-fill-mode: both;

	@keyframes reveal-about-fade {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.typography_variantSubtitle1 {
		font-size: rem-calc( 24 );
		line-height: rem-calc( 29 );
	}
}

.about-header {
	align-items: center;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 0;
}

.about-headerTranslateWrapper {
	overflow: hidden;

	.about-headerTranslateComponent {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		transform: translateY( 0 );
		animation-name: reveal-header-translate;
		animation-duration: $transition-large-element-expanding-duration;
		animation-timing-function: $decelerate-easing;
		animation-fill-mode: both;
	}

	&:first-child .about-headerTranslateComponent {
		animation-delay: $transition-large-element-expanding-duration;
	}

	&:nth-child( 2 ) .about-headerTranslateComponent {
		animation-delay: $transition-large-element-expanding-duration + .06s;
	}

	&:nth-child( 3 ) .about-headerTranslateComponent {
		animation-delay: $transition-large-element-expanding-duration + .12s;
	}
}

@keyframes reveal-header-translate {
	from {
		transform: translateY( 150% );
		opacity: 0;
	}

	to {
		transform: translateY( 0 );
		opacity: 1;
	}
}

.about-body {
	margin-bottom: 0;
	padding-top: 0;
}

.about-bodyInformations {
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	padding-top: 0;

	@media only screen and ( max-width: #{$screen-md} ) {
		flex-direction: column-reverse;
	}
}

.about-profilePict {
	z-index: 2;
	align-items: flex-end;
	align-self: stretch;
	padding: $spacer * 4 $spacer * 4 0 0;
	transform: translate( $spacer * 1, $spacer * 5 );
	outline: $white solid $spacer * 2;

	&::before {
		background-color: #f1c55a !important;
	}

	.picture {
		align-self: flex-start;
		max-width: 380px;
		margin-right: auto;

		@media only screen and ( max-width: #{$screen-md} ) {
			max-width: 300px;
			outline: none;
		}
	}
}

.about-name {
	margin-bottom: $spacer;
	padding-top: $spacer * 4;
	font-size: rem-calc( 48 );

	@media only screen and ( max-width: #{$screen-lg} ) {
		font-size: rem-calc( 36 );
	}
}

.about-post {
	margin-bottom: $spacer * 3;
	font-size: rem-calc( 28 );

	@media only screen and ( max-width: #{$screen-lg} ) {
		margin-bottom: $spacer;
		font-size: rem-calc( 20 );
	}
}

.about-hobbiesSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background-color: $gray-light;
}

.about-iconDesignMain {
	padding: 20%;
}

.about-iconDesignSecondary {
	padding: 16%;
}

.about-iconDesignThird {
	padding: 14%;
}

.about-iconDevMain {
	padding: 12%;
}

.about-iconDevSecondary {
	padding: 16%;
}

.about-iconHobbie {
	padding: 20%;
}

.about-downloadSection {
	&.about-downloadSection_top {
		.about-downloadItem {
			padding: $spacer  0;
		}
	}

	&.about-downloadSection_bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: $spacer 0 0 0;
		padding: $spacer;

		.about-downloadItem {
			padding: $spacer * 2;
		}

		&.about-downloadItem_CV {
			margin-right: $spacer * 4;
		}

		&.about-downloadItem_Portfolio {
			margin-left: $spacer * 4;
		}
	}

	.about-downloadItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		transition: all $decelerate-easing $transition-medium-element-expanding-duration;
		opacity: .5;

		&:hover {
			opacity: 1;
			text-decoration: none;
		}

		&.about-downloadItem_CV {
			.about-downloadIcon {
				mask: url( '../../images/Download_CV.svg' ) center no-repeat;
			}
		}

		&.about-downloadItem_Portfolio {
			.about-downloadIcon {
				mask: url( '../../images/Download_Projects.svg' ) center no-repeat;
			}
		}

		.about-downloadIcon {
			width: 32px;
			height: 32px;
			background: $brand-primary;
		}

		.about-downloadLabel {
			margin: 0 $spacer;
		}
	}
}
