@import '../variables/';

/** @define videoComponents */

.videoComponents-wrapper {
	margin-top: 1%;
	overflow: hidden;

	@media only screen and ( min-width: #{$screen-sm} ) {
		margin-top: 4%;
	}
}

.videoComponents-3dGlasses {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background-color: $white;

		@media only screen and ( min-width: #{$screen-sm} ) {
			top: - $spacer;
			right: - $spacer * 4;
			bottom: - $spacer;
			left: - $spacer * 4;
		}

		@media only screen and ( min-width: #{$screen-md} ) {
			top: - $spacer * 8;
			right: - $spacer * 5;
			bottom: 0;
			left: 0;
		}
	}
}

.videoComponents-ricksAndMorties {
	position: relative;

	@media only screen and ( min-width: #{$screen-md} ) {
		transform: translateY( -4% );
	}

	@media only screen and ( min-width: #{$screen-lg} ) {
		transform: translateY( -12% );
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: - $spacer * 1;
		bottom: 40%;
		left: - $spacer * 1;
		margin-top: - $spacer * 7;
		background-color: $white;
	}
}

.videoComponents-description {
	margin-top: -8%;
}

.videoComponents-toolRhino {
	@media only screen and ( min-width: #{$screen-md} ) {
		transform: translateY( -20% );
	}

	@media only screen and ( max-width: #{$screen-sm} ) {
		transform: translateY( -20% );
	}
}

.videoComponents-toolReglet {
	@media only screen and ( min-width: #{$screen-md} ) {
		transform: translateY( -50% );
	}

	@media only screen and ( max-width: #{$screen-sm} ) {
		margin-bottom: -46%;
		transform: translateY( -50% );
	}
}

.videoComponents-tools {
	@media only screen and ( min-width: #{$screen-md} ) {
		transform: translateY( -35% );
	}
}

/** @end */
