@import '../variables/';

.home {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.home-illuScaleWrapper {
	width: 100%;
	height: 100%;
	transform: scale( .8 );
	animation-name: enter-app;
	animation-duration: 1s;
	animation-timing-function: $decelerate-easing;
	animation-fill-mode: both;
}

@keyframes enter-app {
	from {
		transform: scale( .4 );
		opacity: 0;
	}

	to {
		transform: scale( .8 );
		opacity: 1;
	}
}

.home-illuAnimWrapper {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transform: translate( -50%, -50% ) perspective( 600px ) rotateY( 5deg ) rotateX( 2deg );
	transform-style: preserve-3d;

	@media only screen and ( max-width: #{$screen-sm} ) {
		transform: translate( -50%, -50% ) perspective( 600px ) rotateY( 0 ) rotateX( 0 );
	}
}

.home-mainBloc,
.home-prezWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	padding: 0 $spacer;
}

.home-mainBloc {
	flex-direction: column;
}

.home-prezWrapper {
	flex-direction: row;
}

.home-nameBloc {
	position: relative;
	width: 50%;
	height: 100%;
	transform: translateZ( 20px ) translateX( 24% ) scale( 1 );
	transform-style: preserve-3d;
}

.home-name {
	z-index: 2;
	width: 100%;
	height: 100%;
	outline: solid 4px $white;
}

.home-nameBckgrd {
	position: absolute;
	z-index: -1;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	transform: translateZ( -60px ) translateX( -2% ) translateY( -8% ) scale( 1.18 );
}

.home-portfolio {
	z-index: 2;
	width: 50%;
	transform: translateZ( 75px ) translateY( 6% ) translateX( -4.5% ) scale( .5 );
}

.home-buttonsWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	transform: translateZ( 100px ) scale( .9 );

	@media only screen and ( max-width: #{$screen-xxs} ) {
		position: fixed;
		bottom: $spacer * 2;
		flex-direction: column;
	}
}

.home-backgroundVisuals {
	position: absolute;
	width: 100%;
	max-width: 1200px;
	height: auto;
	transform: translateZ( -400px ) scale( 1.75 );
	transform-style: preserve-3d;
}

.home-backgroundVisuals_ondes {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 45%;
	transform: translateY( 28% ) translateX( -24% ) scale( 1.8 );
}

.home-backgroundVisuals_draw {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 33%;
	transform: translateY( -17.8% ) translateX( -17% ) scale( 1.8 );
}

.home-backgroundVisuals_dev {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 24%;
	transform: translateY( -41% ) translateX( -33% ) scale( 1.3 );
}

.home-backgroundVisuals_responsive {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 40%;
	transform: translateY( 12% ) translateX( .1% ) scale( 1.1 );
}

.home-backgroundVisuals_border {
	transform: translateZ( -800px ) scale( 1.6 );
	opacity: .12;
}
