//
// Utilities -> Flex gestion
// --------------------------------------------------

.u- {

	//
	// Direction Part
	&direction {
		&Row {
			flex-direction: row !important;
		}

		&RowReverse {
			flex-direction: row-reverse !important;
		}

		&Column {
			flex-direction: column !important;
		}

		&ColumnReverse {
			flex-direction: column-reverse !important;
		}
	}

	//
	// Justify Part
	&justify {
		&FlexStart {
			justify-content: flex-start !important;
		}

		&Center {
			justify-content: center !important;
		}

		&FlexEnd {
			justify-content: flex-end !important;
		}

		&SpaceBetween {
			justify-content: space-between !important;
		}

		&SpaceAround {
			justify-content: space-around !important;
		}

		&SpaceEvenly {
			justify-content: space-evenly !important;
		}
	}

	//
	// Align Items Part
	&alignItems {
		&FlexStart {
			align-items: flex-start !important;
		}

		&Center {
			align-items: center !important;
		}

		&FlexEnd {
			align-items: flex-end !important;
		}

		&Stretch {
			align-items: stretch !important;
		}

		&Baseline {
			align-items: baseline !important;
		}
	}

	//
	// Align Items Part
	&alignSelf {
		&FlexStart {
			align-self: flex-start !important;
		}

		&Center {
			align-self: center !important;
		}

		&FlexEnd {
			align-self: flex-end !important;
		}

		&Stretch {
			align-self: stretch !important;
		}

		&Baseline {
			align-self: baseline !important;
		}
	}
}
