//
// Utilities -> Shadows gestion
// --------------------------------------------------

.u- {
	&shadow {
		&0 {
			@include box-shadow(0);
		}

		&1 {
			@include box-shadow(1);
		}

		&2 {
			@include box-shadow(2);
		}

		&3 {
			@include box-shadow(3);
		}

		&4 {
			@include box-shadow(4);
		}

		&6 {
			@include box-shadow(6);
		}

		&8 {
			@include box-shadow(8);
		}

		&9 {
			@include box-shadow(9);
		}

		&12 {
			@include box-shadow(12);
		}

		&16 {
			@include box-shadow(16);
		}

		&24 {
			@include box-shadow(24);
		}
	}
}
