$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: (
	/* stylelint-disable */
	Auto: (
		x:   auto,
		y:   auto
	),
	/* stylelint-enable */
	0: (
		x:   0,
		y:   0
	),
	h: (
		x:   ($spacer-x * .5),
		y:   ($spacer-y * .5)
	),
	1: (
		x:   $spacer-x,
		y:   $spacer-y
	),
	2: (
		x:   ($spacer-x * 2),
		y:   ($spacer-y * 2)
	),
	3: (
		x:   ($spacer-x * 3),
		y:   ($spacer-y * 3)
	),
	4: (
		x:   ($spacer-x * 4),
		y:   ($spacer-y * 4)
	),
	5: (
		x:   ($spacer-x * 5),
		y:   ($spacer-y * 5)
	),
	10: (
		x:   ($spacer-x * 10),
		y:   ($spacer-y * 10)
	)
);

@mixin spacing() {
	@each $prop, $abbrev in (margin: u-margin, padding: u-padding) {
		@each $size, $lengths in $spacers {
			$length-x: map-get( $lengths, x );
			$length-y: map-get( $lengths, y );

			.#{$abbrev}#{$size} { #{$prop}: $length-y $length-x !important; }
			.#{$abbrev}X#{$size} { #{$prop}-right: $length-x !important; #{$prop}-left: $length-x !important; }
			.#{$abbrev}Y#{$size} { #{$prop}-top: $length-y !important; #{$prop}-bottom: $length-y !important; }
			.#{$abbrev}Top#{$size} { #{$prop}-top: $length-y !important; }
			.#{$abbrev}Right#{$size} { #{$prop}-right: $length-x !important; }
			.#{$abbrev}Bottom#{$size} { #{$prop}-bottom: $length-y !important; }
			.#{$abbrev}Left#{$size} { #{$prop}-left: $length-x !important; }
		}
	}
}

@include spacing;
