//
// Utilities
// --------------------------------------------------

@import 'flex';
@import 'shadows';
@import 'spacing';

.u-borderedPictures {
	border: solid 1px rgba( $white, .16 );
}

.u-fullWidth {
	width: 100%;
}
