@import 'assets/style/variables/';

/** @define stickyComponent */

.stickyComponent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.stickyComponent-contentWrapper {
	position: sticky;
	top: 0;
	width: 100%;
	height: auto;
}

/** @end */
